// Import normalize.css for consistent base styling
@import "./variables";
@import "./mixins/breakpoints";
@import "normalize.css";

body {
    overflow: hidden;
    font-family: Orbitron,sans-serif;
}

.blend-mode-selector {
    display: none;

    @include media-breakpoint-up(md) {
        display: flex;
    }
}
